[Unit]
Description=Lock screen before suspend
Before=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/betterlockscreen --lock
TimeoutSec=15

[Install]
WantedBy=suspend.target